#canvas{
	position: absolute;
	z-index: 0;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	border: 1px solid #c3c3c3;
}
#canvasTop{
	position: absolute;
	z-index: 1;
	left: 10px;
	top:10px;
	left:10px;
        right: 10px;
	border:1px solid #c3c3c3;
}
#nameList{
	width: 79px;
	position: absolute;
	height: 203px;
	left: 371px;
	top: 3px;
	z-index:2;
}
#input{
	position: absolute;
	width: 304px;
	height: 24px;
	left: 6px;
	top: 228px;
	z-index: 2;
}
select {
	left: 298px;
	top: 228px;
	height: 20px;
	position: absolute;
	z-index:2;
}
#send {
	position: absolute;
	left: 390px;
	top: 230px;
	width: 80px;
	height: 21px;
	z-index: 2;
}
#title {
	position: absolute;
	left: 27px;
	top: 10px;
	width: 175px;
	height: 41px;
	z-index:2;
}

#tab {
	overflow-y: scroll;
	widows: 355px;
	left: 16px;
	top: 39px;
	width: 380px;
	height: 200px;
	z-index:2;
}
#dialog tbody .dia1 {
	background-color:#CCC;
	height:23px;
	z-index:2;
}
#dialog tbody .dia2 {
	background-color:#FFF;
	height:23px;
	z-index:2;
}
.chatWindow{
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 2;
	width: 331px;
	height: 184px;
}
#chatButton {
	position: absolute;
	left: 7px;
	bottom: -67px;
	height: 21px;
	width: 86px;
	z-index: 2;
}
#frame{
        position: absolute;
	display:block;
	width: 460px;
	height: 254px;
	left:10px;
        bottom: 10px;
	z-index:2;
}
.namelist {
	position: absolute;
	left: 389px;
	top: 2px;
	width: 59px;
	height: 217px;
	overflow-y: scroll;
	widows: 355px;
	list-style: none;
	margin: 0px;
	z-index: 2;
}
#colors{
	position: absolute;
	left: 314px;
	top: 228px;
	width: 69px;
	height: 25px;
	overflow-y: scroll;
	list-style: none;
	margin: 0px;
	z-index: 2;
}