#chatButton {
	width: 20px;
	height: 70px;
	display: none;

	position:absolute;
	right:5px;
	bottom: 5px;
	z-index: 2;
}
#chatWindow{
	background: white;
    position: absolute;
	display:none;
	width: 300px;
	height: 300px;
	right:52px;
	bottom: 5px;
	z-index:2;
}
#chatContext{
	width: 290px;
	height: 200px;
	margin-bottom: 10px;
	margin-top: 5px;
	border: 3px solid #cccccc;
	border-radius: 10px;
	overflow-y: scroll;
}
#chatInput{
	margin-top: 5px;
	width:225px;
}
/*
#nameList{
	width: 79px;
	position: absolute;
	height: 203px;
	left: 371px;
	top: 3px;
	z-index:2;
}
#input{
	position: absolute;
	width: 304px;
	height: 24px;
	left: 6px;
	top: 228px;
	z-index: 2;
}
select {
	left: 298px;
	top: 228px;
	height: 20px;
	position: absolute;
	z-index:2;
}
#send {
	position: absolute;
	left: 390px;
	top: 230px;
	width: 80px;
	height: 21px;
	z-index: 2;
}
#title {
	position: absolute;
	left: 27px;
	top: 10px;
	width: 175px;
	height: 41px;
	z-index:2;
}

#tab {
	overflow-y: scroll;
	widows: 355px;
	left: 16px;
	top: 39px;
	width: 380px;
	height: 200px;
	z-index:2;
}
#dialog tbody .dia1 {
	background-color:#CCC;
	height:23px;
	z-index:2;
}
#dialog tbody .dia2 {
	background-color:#FFF;
	height:23px;
	z-index:2;
}
.namelist {
	position: absolute;
	left: 389px;
	top: 2px;
	width: 59px;
	height: 217px;
	overflow-y: scroll;
	widows: 355px;
	list-style: none;
	margin: 0px;
	z-index: 2;
}
#colors{
	position: absolute;
	left: 314px;
	top: 228px;
	width: 69px;
	height: 25px;
	overflow-y: scroll;
	list-style: none;
	margin: 0px;
	z-index: 2;
}
*/