/* 
    Document   : loginPage
    Created on : 2012-8-18, 15:47:45
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
	display: block;
}

#loginAll{
	text-align: center;
	margin:0 auto; 
	width: 680px;
	z-index: 2;
}

#titlePic{
	margin:20px 0px 10px 0px; 
	border:2px solid #c3c3c3;
}

#loginForm{
	display: inline;
	margin:0 auto; 
}

#loginButton{
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

#safeLogOut {
	display: none;
	position: absolute;
    left: 35%;
    top: 35%;
	background: white;
    z-index: 1;
    margin: 0;
    padding: 10px 10px 10px 10px;
    border: 3px solid #cccccc;
	border-radius: 24px;
}

#logoutOk {
	display: inline;
	width: 50px;
}