/* 
    Document   : toolbar
    Created on : Jul 11, 2012, 3:24:43 PM
    Author     : fish
    Description:
        Purpose of the stylesheet follows.
*/

@font-face{
    font-family: 'clumsy';
    src: url('ttf/clumsy-webfont.ttf'),
	url('clumsy-webfont.eot'); /* IE9+ */
}



h1,p,span,li{font-family:clumsy,"Microsoft YaHei";}

#message{
    position:absolute;
    left:2%;
    bottom:0;
    width:5%;
}

#toolbox{
    position: absolute;
    top : 0;
    right: 0;
    margin: 0;
    padding: 0;
    border:0;
    font-size: 80%;
    width: 10%;
    height:95%;
    z-index: 1;
}
ul{
    height: 100%;
    border: solid;
    display:none;
    padding:10%;
    z-index: 1;
}
li{
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
    z-index: 1;
}

#display{
    position:fixed;
    right:0;
    bottom:0;
    width:50px;
    height:5%;
}

#droppable{
    height:80%;
    height:20%;
    border:dashed;
}

#upload{
    height:100%;
    border: solid;
    display:none;
}

