/* 
    Document   : video
    Created on : 2012-8-31, 10:12:54
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
	display: block;
}

#userVideo{
	z-index:0;
	width:1px;
	height:1px;
	display: block;
}

.uservideo {
	-webkit-user-select:none;
    -moz-user-select:none;
	border:3px solid black;
	  width:240px;
	  height:180px;
	  left: 100px;
	  top: 100px;
	  z-index:0;
	  display: none;
}

.user {
	display: block;
	cursor: pointer;
}

#videoAlert {
	display: none;
	position: absolute;
	color: red;
    left: 35%;
    top: 35%;
	background: white;
    z-index: 1;
    margin: 0;
    padding: 10px 10px 10px 10px;
    border: 3px solid #cccccc;
	border-radius: 24px;
}

#videoAlertOk {
	display: inline;
	width: 50px;
}
